[submodule "external/ffmpeg/FFmpeg"]
	path = external/ffmpeg/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg
	branch = release/4.0
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
