[submodule "external/cmake-pandocology"]
	path = external/cmake-pandocology
	url = https://github.com/jeetsukumaran/cmake-pandocology.git
[submodule "external/foundation"]
	path = external/foundation
	url = git@github.com:GregBakker/adobe-cc-codec-foundation.git
