<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="1">
    <pkg-ref id="org.hapcommunity.HapEncoderPlugin"/>
    <options customize="never" require-scripts="false"/>
    <license file="license.txt"/>
    <choices-outline>
        <line choice="default">
            <line choice="org.hapcommunity.HapEncoderPlugin"/>
        </line>
    </choices-outline>
    <choice id="default"/>
    <choice id="org.hapcommunity.HapEncoderPlugin" visible="false">
        <pkg-ref id="org.hapcommunity.HapEncoderPlugin"/>
    </choice>
    <pkg-ref id="org.hapcommunity.HapEncoderPlugin" version="2" onConclusion="none">HapEncoderPlugin.pkg</pkg-ref>
</installer-gui-script>